/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: var(--light-pink, rgba(255, 241, 247, 1));
  --background-image: url('../images/cover-image-light.png');
  --recommendation-decoration-visibility: hidden;

  --text-primary-color: var(--dark-gray, rgba(53, 52, 48, 1));
  --accent-primary-color: var(--vivid-pink, rgba(255, 141, 203, 1));
  --brand-primary-color: var(--medium-pink, rgba(255, 194, 230, 1));
  --highlight-primary-color: var(--dark-gray, rgba(53, 52, 48, 1));
  --text-secondary-color: var(--dark-gray, rgba(53, 52, 48, 1));
  --text-secondary-color-transparent: var(
    --bright-pink-transparent,
    rgba(53, 52, 48, 0.5)
  );
  --link-primary-color: var(--vivid-pink, rgba(255, 141, 203, 1));
}

/* Дублируем переменные светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light-pink, rgba(255, 241, 247, 1));
    --background-image: url('../images/cover-image-light.png');
    --recommendation-decoration-visibility: hidden;

    --text-primary-color: var(--dark-gray, rgba(53, 52, 48, 1));
    --accent-primary-color: var(--vivid-pink, rgba(255, 141, 203, 1));
    --brand-primary-color: var(--medium-pink, rgba(255, 194, 230, 1));
    --highlight-primary-color: var(--dark-gray, rgba(53, 52, 48, 1));
    --text-secondary-color: var(--dark-gray, rgba(53, 52, 48, 1));
    --text-secondary-color-transparent: var(
      --bright-pink-transparent,
      rgba(53, 52, 48, 0.5)
    );
    --link-primary-color: var(--vivid-pink, rgba(255, 141, 203, 1));
  }
}
