:root {
  --font-family-mono: 'IBM Plex mono', monospace;

  --background-image: url('../images/cover-image.png');
  --background-color: rgba(0, 0, 40, 1);

  --vivid-pink: rgba(255, 141, 203, 1);
  --medium-pink: rgba(255, 194, 230, 1);
  --soft-pink: rgba(241, 178, 206, 1);
  --light-pink: rgba(255, 241, 247, 1);

  --bright-pink-transparent: rgba(255, 0, 112, 0.25);
  --vivid-purple: rgba(219, 0, 255, 1);
  --bright-pink: rgba(255, 0, 112, 1);

  --deep-blue: rgba(0, 0, 40, 1);
  --dark-gray: rgba(53, 52, 48, 1);
  --light-gray-transparent: rgba(50, 49, 45, 0.4);
  --dark-gray-transparent: rgba(53, 52, 48, 0.25);
  --middle-gray: rgba(50, 49, 45, 1);

  --text-primary-color: var(--soft-pink);
  --brand-primary-color: var(--vivid-purple);
  --text-secondary-color: var(--bright-pink);
  --text-secondary-color-transparent: var(--bright-pink-transparent);
  --accent-primary-color: var(--bright-pink);
  --highlight-primary-color: var(--deep-blue);
  --link-primary-color: var(--bright-pink);
  --link-secondary-color: var(--light-gray-transparent);
  --link-hover-color: var(--soft-pink);
  --link-outline-color: var(--bright-pink);

  --recommendation-decoration-visibility: visible;
}
